body {
  background-color: rgb(203, 206, 237);
  background-color: rgba(203, 206, 237, 0.25);
}

body > header {
  background-color: rgb(220, 188, 152);
  background-color: rgba(220, 188, 152, 0.25);
}

.social_structure_figure {
  display: block;
  margin: 1em auto;
  max-width: 706px;
  float: right;
}

.main_text {
  font-family: "Times New Roman", serif;
  font-size: 1em;
  color: rgba(0, 0, 75, 0.90);
}

.main_box_play {
  width: 240px;
  padding: 100px;
  border: 5px;
  border-style: dotted;
}

.p_interact_a {
  width: 10em;

}
